header {
  background-image: url('../img/contact.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 46px;
  background-position: 50% 50%;
  padding-top: 9em;
  padding-bottom: 9em;

}

header h2{
  text-align: center;
  position: relative;
  top: -100px;
  text-shadow: 0 1px 2px #101820;
}
#pre{
  text-align: center;

  text-shadow: 0 1px 2px #101820;
}
section{
  margin-left: 8%;
}

.con>  input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: none;
}

.con > input[type=submit] {
    background-color: #c6cbc6;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
.con >input[type=email]{
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
}
.con > input[type=submit]:hover {
    background-color: #111111;
}

.con {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 500px;

}
 article{
  width: 95%;
    padding: 2px 16px;

}
section {
  display: flex;

}
 article > img{
  border-radius: 120px;
}

.call{
  background-color: #e8e4e4;
    display: inline-block;
    border: 5px solid black;
    border-radius: 25px;
    margin-left: 31%;
}
