.slider {
	float: left;
	width:650px;
	margin: auto;
	overflow: hidden;
	height: 364px;
}

.slider ul {
	display: flex;
	padding: 0;
	width: 400%;
	animation: cambio 20s infinite  alternate linear;
}

.slider li {
	width: 100%;
	list-style: none;
}

.slider img {
border-radius: 120px;
width:650px;
height: 364px;

}

@keyframes cambio {
		0%   {margin-left: : 0;}
    25%  {margin-left: -100%;}
    50%  {margin-left: -100%;}
    75%  {margin-left: -100%;}
    100% {margin-left: -100%;}

}

}
